body {
    background-color: #219ebc;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

h1, h2, p{
    text-align: center;
}

h1 {
    color: #023047;
}

.intro{
    max-width: 700px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 20px;
}

.container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    transition: all 0.3s ease;
}

.card {
    background-color: #023047;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(2, 48, 71, 1);
    transform: scale(1.03);
}
